html 
    head 
        title Agregar nuevo paciente
        link(rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/navbars/")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous")
        style. 
            //.container.form{
                background-color: green;  
            //}
            .miform{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
            .input-group.mb-3{
                padding: 30px 10px 0px 20px;
                display: flex;
            }

            .form-control{
               width:100px 
            }

    body 
        nav.navbar.navbar-expand-sm.navbar-dark.bg-dark(aria-label="Third navbar example")
            div.container-fluid
                a.navbar-brand(href="#") HOME
                button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarsExample03", aria-controls="navbarsExample03", aria-expanded="false", aria-label="Toggle navigation")
                    span.navbar-toggler-icon
                div.collapse.navbar-collapse#navbarsExample03
                    ul.navbar-nav.me-auto.mb-2.mb-sm-0
                       li.nav-item
                           a.nav-link.active(aria-current="page", href="/") Pacientes
                       li.nav-item
                           a.nav-link(href="#") Ordenes
                       //li.nav-item
                           a.nav-link.disabled(aria-disabled="true") Disabled
                       //li.nav-item.dropdown
                           a.nav-link.dropdown-toggle(href="#", data-bs-toggle="dropdown", aria-expanded="false") Dropdown
        div.container(style="background-color:lightblue") 
            div.container 
                h1 datos del paciente 
            div.container
                div.container 
                    table.table.table-striped
                        thead
                            tr
                            th(scope="col") Nombre y Aperllido
                            th(scope="col") Dni
                            th(scope="col") Edad
                            th(scope="col") Correo
                            th(scope="col") Sexo
                            th(scope="col") Embarazo
                        tbody  
                            tr
                                input(type="hidden" name="id" value=`${pacienteN.id}`)
                                td= pacienteN.nombreCompleto
                                td= pacienteN.dni
                                td= pacienteN.edad 
                                td= pacienteN.mail
                                td= pacienteN.sexo
                                td= pacienteN.embarazo                 
        div.container(style="background-color:lightgreen;")
            div.container
                  h1 Datos del medico/entidad
            div.container(style="display:flex")
            
                label(for="nombre") Nombre
                input.form-control(type="text" name="nombre")
                label(for="matricula") Matricula
                input.form-control(type="text" name="matricula")  
        div.container(style="display:flex;background-color:lightgoldenrodyellow;")
            div.container.form-group(style="max-width:50%") 
                h1 Examenes Disponibles
                label Buscar 
                input#filtro.form-contol(type="text", name="buscarExamen" aria-label="Small" aria-describedby="inputGroup-sizing-sm") 
                table#miTabla.table.table-striped
                    thead
                        th(scope="col") Id 
                        th(scope="col") Descripcion
                        th(scope="col") Detalles
                        th(scope="col") Duracion
                        th(scope="col") Agregar 
                    tbody 
                        each examen in examenes 
                            tr
                                td= examen.id
                                td= examen.descripcion
                                td
                                td= examen.tiempoPromedio
                                td
                                    button(type="button",onClick=`agregarExamen(${examen.id},'${examen.descripcion}')`) +

            div.container 
                h1 Examenes agregados a orden                      
                table#examenesAgregados.table.table-striped
                    thead
                        th(scope="col") Id 
                        th(scope="col") Descripcion
                        th(scope="col") Detalles
                        th(scope="col") Duracion
                        th(scope="col") Quitar
                    tbody  

        div.container(style="background-color:lightblue")
            h1 Muestras necesarias

        script. 
             var tabla = document.getElementById('miTabla');
             var maxFilas = 10; 
             var filas = tabla.getElementsByTagName('tr');

             for (var i = 0; i < filas.length; i++) {
             if (i >= maxFilas) {
                  filas[i].style.display = 'none';
             }
            }    
            const filtro = document.getElementById('filtro');


            filtro.addEventListener('input', () => {
            const filtroTexto = filtro.value.toLowerCase();

                for (let i = 1; i < filas.length; i++) {
                    const nombre = filas[i].getElementsByTagName('td')[1];
                    if (nombre) {
                        const nombreTexto = nombre.textContent.toLowerCase();
                        if (nombreTexto.includes(filtroTexto)) {
                            filas[i].style.display = '';
                        } else {
                            filas[i].style.display = 'none';
                        }
                    }
                }
            for (var i = 0; i < filas.length; i++) {
             if (i >= maxFilas) {
                  filas[i].style.display = 'none';
             }
            }                 
            });

            function agregarExamen(id, descripcion) {
                // Obtener la tabla de exámenes agregados
                var tablaAgregados = document.getElementById('examenesAgregados').getElementsByTagName('tbody')[0];

                // Crear una nueva fila para el examen agregado
                var nuevaFila = tablaAgregados.insertRow();

                // Crear celdas para ID y nombre
                var celdaID = nuevaFila.insertCell(0);
                var celdaNombre = nuevaFila.insertCell(1);
                var celdaDetalle = nuevaFila.insertCell(2);
                var celdaDuracion = nuevaFila.insertCell(3)
                var celdaQuitar = nuevaFila.insertCell(4)
                var celdaidExamen = nuevaFila.insertCell(5)

                // Establecer los valores de las celdas
                celdaID.innerHTML = id;
                celdaNombre.innerHTML = descripcion;
                celdaDuracion.innerHTML = "";
                celdaQuitar.innerHTML = "<button type='button' onclick='quitarExamen(this)'> - </button>";

                // Crear un input hidden para guardar el ID
                var inputID = document.createElement('input');
                inputID.type = 'hidden';
                inputID.name = 'examenAgregadoId'; 
                inputID.value = id;
                celdaidExamen.appendChild(inputID);
            }

            function quitarExamen(button) {
                // Obtener la fila que contiene el botón "Quitar"
                var fila = button.parentNode.parentNode;

                // Eliminar la fila
                fila.parentNode.removeChild(fila);
            }
 
                
                
                
                

            
